---
import ContactForm from "../components/ContactForm.astro";

const { copy: {
  heading,
  text,
  formEndpoint,
} = {
  heading: "Heading",
  text: null,
  formEndpoint: null,
} } = Astro.props;
---
<section class="section" id="contact">
  <div class="content max-w-4xl! space-y-pv max-md:space-y-gv">
    <div class="space-y-gv max-md:space-y-sg">
      <h2 class="heading">{heading}</h2>
      <p class="paragraph">{text}</p>
    </div>

    <ContactForm formEndpoint={formEndpoint} />
  </div>
</section>