---
import ProjectCard from "../components/ProjectCard.astro";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const { copy: {
  heading,
  text,
} = {
  heading: "Heading",
  text: null,
} } = Astro.props;

const PROJECTS_QUERY = `*[
  _type == "project"
  && defined(slug.current)
]{
  title,
  "slug": slug.current,
  summary,
  "liveSite": links.liveSite,
  "image": images[0]{
    title,
    image
  }
}`;
const projects = await sanityClient.fetch<SanityDocument[]>(PROJECTS_QUERY);
---
<section id="portfolio" class="section">
  <div class="content space-y-pv max-md:space-y-gv">
    <div class="space-y-gv max-md:space-y-sg">
      <h2 class="heading">{heading}</h2>
      {text && <p class="paragraph">{text}</p>}
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-gh">
      {projects?.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  </div>
</section>