---
import "./../styles/global.css";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Footer from "../components/Footer.astro";

const { title=null, description=null } = Astro.props;

const QUERY = `*[_type == "siteSettings"][0]`;

const siteSettings = await sanityClient.fetch<SanityDocument>(QUERY);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || siteSettings?.siteTitle}</title>
    <meta name="description" content={description || siteSettings?.description} />
	</head>
	<body>
		<slot />

		<Footer footerText={siteSettings?.footerText} footerLinks={siteSettings?.footerLinks} />
	</body>
</html>
